@import './palette.scss';

.main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    // border: 1px solid red;
    .top-content {
        height: 30%;
        width: 100%;
        box-sizing: border-box;
        // border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 0;
    }

    .bottom-content {
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 40px 0;

        .chart {
            background-color: $box-background;
            width: 620px;
            border-radius: 10px;
        }
    }

    .info-box {
        width: 250px;
        height: 120px;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: $box-background;
        padding: 10px 30px 10px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.pos {
            border: 5px solid $green;
        }

        &.neg {
            border: 5px solid $red;
        }

        .title {
            font-size: 1.1rem;
            color: $box-text-primary;
            font-weight: 200;
        }
        .value {
            font-size: 1.5rem;
            color: white;
            font-weight: 600;
        }
        .bottom {
            display: flex;
            align-items: center;
            font-size: 1.1rem;

            .arrow {
                font-size: 1.1rem;
                margin-right: 10px;
            }
            .neg {
                color: $red;
            }
            .pos {
                color: $green;
            }
            .prev-value {
                color: $box-text-primary;
                font-size: 0.75rem;
            }
        }
    }
}

