@import './palette.scss';

.home {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    // border: 1px solid red;
    .top-content {
        height: 30%;
        width: 100%;
        box-sizing: border-box;
        // border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 0;
        -webkit-user-select: none;
    }

    .bottom-content {
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 40px 0;

        .chart {
            background-color: $box-background;
            width: 620px;
            border-radius: 10px;
        }

        .releases-container {
            width: 400px;
            height: 387px;
            background-color: $box-background;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 10px 10px 10px;
            overflow-y: auto;
            -webkit-user-select: none;

            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }

            .title {
                font-size: 1.25rem;
                color: white;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .release-item {
                width: 100%;
                background-color: $box-secondary;
                border-radius: 10px;
                border-left: 5px solid $purple;
                box-sizing: border-box;
                padding: 10px 15px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;

                .info-container {
                    color: white;
                    font-weight: 300;
                    
                    .name {
                        color: $green;
                        font-weight: 600;
                    }
                    .price {
                        color: $purple;
                        font-weight: 500;
                    }
                }
                img {
                    height: 80px;
                    width: 80px;
                    border-radius: 5px;
                }
            }
        }
    }

    .info-box {
        width: 250px;
        height: 120px;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: $box-background;
        padding: 10px 30px 10px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.pos {
            border: 5px solid $green;
        }

        &.neg {
            border: 5px solid $red;
        }

        .title {
            font-size: 1.1rem;
            color: $box-text-primary;
            font-weight: 200;
        }
        .value {
            font-size: 1.5rem;
            color: white;
            font-weight: 600;
        }
        .bottom {
            display: flex;
            align-items: center;
            font-size: 1.1rem;

            .arrow {
                font-size: 1.1rem;
                margin-right: 10px;
            }
            .neg {
                color: $red;
            }
            .pos {
                color: $green;
            }
            .prev-value {
                color: $box-text-primary;
                font-size: 0.75rem;
            }
        }
    }
}

