@import './palette.scss';

body {
    padding: 0;
    margin: 0 auto;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Avenir, --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    // overflow: hidden;
}

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-areas: 
        "sidebar main"
}

main {
    width: 100%;
    height: 100vh;
    .main-container {
        height: calc(100vh - 40px);
        width: 100%;
    }
}

.drag-region {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}


@keyframes slide-up {
    from {
      margin-top: 100%;
      height: 300%; 
    }
  
    to {
      margin-top: 0%;
      height: 100%;
    }
}

@keyframes slide-down {
    to {
      margin-top: 100%;
      height: 300%; 
    }
  
    from {
      margin-top: 0%;
      height: 100%;
    }
}

.info-box {
  width: 250px;
  height: 120px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: $box-background;
  padding: 10px 30px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.small {
    width: 200px;
    height: 80px;

    .title {
        font-size: 0.9rem;
        color: $box-text-primary;
        font-weight: 200;
    }
    .value {
        font-size: 1.1rem;
        color: white;
        font-weight: 600;
    }
    .bottom {
      display: none;
    }
  }

  &.pos {
      border: 5px solid $green;
  }

  &.neg {
      border: 5px solid $red;
  }

  .title {
      font-size: 1.1rem;
      color: $box-text-primary;
      font-weight: 200;
  }
  .value {
      font-size: 1.5rem;
      color: white;
      font-weight: 600;
  }
  .bottom {
      display: flex;
      align-items: center;
      font-size: 1.1rem;

      .arrow {
          font-size: 1.1rem;
          margin-right: 10px;
      }
      .neg {
          color: $red;
      }
      .pos {
          color: $green;
      }
      .prev-value {
          color: $box-text-primary;
          font-size: 0.75rem;
      }
  }
}