@import './palette.scss';

.inventory-page {
    .top-content {
        width: 100%;
        height: 20%;
        @include content-padding;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info-container {
            width: 80%;
            display: flex;
            
            div {
                margin-right: 10px;
            }
        }

        .modal-open-button {
            background-color: $box-background;
            color: $purple;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            width: 120px;
            height: auto;
            padding: 10px 10px;
            font-size: 0.75rem;
        }
    }

    .bottom-content {
        width: 100%;
        height: 80%;
        @include content-padding;
        margin-top: -10px;
        display: flex;
        justify-content: center;
        // background-color: $box-secondary;
        overflow-y: auto;

        .inventory-table {
            width: 100%;
            border-radius: 3px;
            padding: 10px;
            border-spacing:0 10px; 
            border-collapse:separate; 
            overflow: auto;

            .table-head, .table-item {
                background-color: $box-background;
                color: $purple;
                border-radius: 10px;

                td {
                    padding: 10px;
                    
                    @include table-row-border;
                }
            }

            .table-item {
                .cell {
                    color: white;
                    font-size: 0.8rem;

                    &.product-info {
                        color: $purple;
                        font-weight: 500;
                        line-height: 15px;
                        width: 250px;
                    }

                    .cell-image {
                        width: 45px;
                        border-radius: 5px;
                        height: auto;
                    }
                }

                .select-container {
                    font-size: 0.6em;
                    color: $green;
                    width: 95px;

                    .select-item {
                        &__control {
                            background-color: $box-secondary;
                        }
                        &__single-value {
                            color: $purple;
                        }
                    }
                }

                td {
                    &:first-child {
                        border-left: 5px solid $purple;
                    }

                    &:last-child {
                        color: black;
                    }
                }
            }
        }

    }
}

.inventoryModal {
    background: $box-background;
    max-width: 600px;
    width: 100%;
    height: 500px;
    border-radius: 10px;

    .inventory-add-modal {
        width: 100%;
        height: 100%;
        // border: 1px solid red;
        @include content-padding;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .selector {
            width: 280px;
            height: 30px;
            display: flex;
            flex-direction: row;
            border-radius: 5px;
            background-color: $box-secondary;
            color: white;
            font-size: 11px;
            margin-bottom: 20px;

            div {
                width: 50%;
                text-align: center;
                padding: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .selected {
                background-color: $purple;
                border-radius: 8px;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        .body {
            margin-top: 10px;
            @include flex-column;
            .stockx-finder {    
                // border: 1px solid blue;
                width: 500px;
                padding: 10px 0 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .search-input {
                    width: 50%;
                    input {
                        width: 100%;
                        @include input-bottom-border;
                        color: $box-text-primary;
                        text-align: center;
                        font-weight: 600;
                    }
                }

                .selector-wrapper {
                    width: 90%;
                    // border: 1px solid $green;
                    margin-top: 10px;

                    .stockx-finder-select {
                        color: $green;
                    }
                }
            }

            .add-btn {
                color: white;
                background-color: $purple;
                @include btn-style;
                width: 100px;
                padding: 10px 10px;
            }

            .error-message {
                margin-top: 5px;
                color: $red;
                font-size: 10px;
                font-weight: 600;
                width: 50%;
            }
        }

        .add-form {
            width: 100%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: 1px solid green;

            .row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;

                &.center {
                    justify-content: center;
                }

                .input {
                    @include input-rounded-border($padding: 8px);
                    text-align: center;
                    font-weight: 500;
                    color: white;
                    
                    &.full {
                        width: 100%;
                    }
                    &.half {
                        width: 48%;
                    }
                    &-disabled {
                        display: none;
                    }
                }

                .marketPrice-container {
                    width: 50%;
                    display: flex;
                    .checkbox-container {
                        display: flex;
                        flex-direction: column;
                        &-inline {
                            font-size: 12px;
                            flex-direction: row;
                            color: white;
                            align-items: center;
                            input {
                                width: 30px
                            }
                        }
                        label {
                            font-size: 10px;
                            color: white;
                        }
                    }
                    input {
                        width: 60%;
                        margin-left: 10px;
                    }
                }

                &.image-input {
                    width: 90%;

                    .input-image {
                        width: 70px;
                        height: 100%;
                    }

                    input {
                        width: calc(100% - 100px);
                    }
                }
            }
        }
    }
}

.modalOverlay {
    background: rgba(0, 0, 0, 0.5);
}