$box-background: #16161a;
$box-text-primary: #94a1b2;
$box-secondary: #242629;

$green: #2cb67d;
$red: #CB4335;
$purple: #7f5af0;

@mixin content-padding {
    box-sizing: border-box;
    padding: 10px 40px 10px;
}

@mixin table-row-border {
    &:first-child {
        border-left-style: solid none; 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &:last-child {
        border-right-style: solid none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}

@mixin input-bottom-border ($color: #94a1b2) {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $color;
}