$box-background: #16161a;
$box-text-primary: #94a1b2;
$box-secondary: #242629;

$green: #2cb67d;
$red: #CB4335;
$purple: #7f5af0;

$btn-radius: 5px;

@mixin content-padding {
    box-sizing: border-box;
    padding: 10px 40px 10px;
}

@mixin table-row-border {
    &:first-child {
        border-left-style: solid none; 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &:last-child {
        border-right-style: solid none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}

@mixin input-bottom-border ($color: #94a1b2, $padding: 5px) {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $color;
    background-color: transparent;
    padding: $padding 0 $padding;
}

@mixin input-rounded-border ($color: #94a1b2, $padding: 5px) {
    border: 2px solid $color;
    background-color: transparent;
    padding: $padding $padding $padding;
    border-radius: 5px;
    box-sizing: border-box;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin btn-style {
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}