sidebar {
    width: 100%;
    border-right: 1px solid #72757e;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    transition: all 0.5s;
    z-index: 100;

    &:hover {
        width: 140px;
        background-color: #212F3C;
        -webkit-box-shadow: 3px 6px 19px 2px rgba(0,0,0,0.50);
        -moz-box-shadow: 3px 6px 19px 2px rgba(0,0,0,0.50);
        box-shadow: 3px 6px 19px 2px rgba(0,0,0,0.50);
        border: none;
    }
}