@import './palette.scss';

sidebar {
    width: 100%;
    border-right: 1px solid #72757e;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    transition: all 0.5s;
    z-index: 100;

    .routes {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70%;
        // border: 1px solid red;

        .sidebar-item {
            display: flex;
            // border: 1px solid red;
            text-decoration: none;
            box-sizing: border-box;
            padding: 5px;
            border-radius: 8px;
            transition: all 0.5s;
            -webkit-user-select: none;
            -webkit-user-drag: none;

            &.active {
                background-color: $box-secondary;
                color: $purple;
                transition: background-color 0.2s ease-in-out;

                .text {
                    color: $purple;
                }
            }

            img {
                width: 30px;
                height: 30px;
            }

            .text {
                display: block;
                color: $box-text-primary;
                font-weight: 200;
                font-size: 0.75rem;
                height: 0;
                width: 0;
                opacity: 0;
                transition: opacity 0s ease-out, height 0s ease-out, width 0s ease-out;
            }
        }
    }
    &:hover {
        width: 140px;
        background-color: #212F3C;
        -webkit-box-shadow: 3px 6px 19px 2px rgba(0,0,0,0.50);
        -moz-box-shadow: 3px 6px 19px 2px rgba(0,0,0,0.50);
        box-shadow: 3px 6px 19px 2px rgba(0,0,0,0.50);
        border: none;

        .routes {    
            .sidebar-item {
                align-items: center;
                justify-content: flex-start;
                width: 120px;

                img {
                    margin-right: 20px;
                }
    
                .text {
                    opacity: 1;
                    height: auto;  
                    width: auto;
                    transition: all 0.2s ease-in;
                }
            }
        }
    }
}