sidebar {
    width: 100%;
    border-right: 1px solid #72757e;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}